.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  border: none;
  background-color: tomato;
}

.box::after{
  background-color: #ddd;
}

.test {
  background-color: green;
}